@use '../abstracts/variables' as vars;

.section {
  padding-left: 28rem;
  padding-top: 12rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-inline: 2.4rem;
  gap: 1.4rem;
  margin-bottom: 2rem;
}

.card {
  height: 20rem;

  &__img {
    object-fit: cover;
    border-radius: 1rem;
    overflow: hidden;
  }
}
