.footer {
  width: calc(100% - 28rem);
  font-size: 2rem;
  margin-left: 28rem;
  background-color: #4b274b;
  color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-height: 8vh;
  padding-left: 10%;
  padding-right: 10%;
}

.footer-year {
  margin-right: 1rem;
}

.github-link {
  color: #fff;
}

.rss {
  display: inline-block;
  width: 10rem;
  min-height: 4vh;
  background-image: url('../images/rss.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
